li {
    list-style: none;
}

header{
background-color: rgb(255, 255, 255);
height: 80px;
}

.nav-home{
    background-color: rgb(255, 255, 255);
    height: 1000px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.932);
    transition: 0.8s;
}

.navbar-back {
    background-color: rgba(255, 255, 255, 0.932);
    transition: 0.8s;
  }


.navbar  a{
color: rgb(0, 0, 0);
font-size: 1em;
text-decoration: none;
letter-spacing: 1px;
font-weight: 500;
}


.navbar .links {
    margin-right: -700px; 
    display: flex;
    gap: 2rem;
}


ul.links a.anim::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgba(56, 90, 100, 0.8);  
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

ul.links a.anim:hover::after{
    transform: scale(1);
}

.navbar .logo {
    margin-left: 20px; /* Pour garder le logo à gauche */
    color: rgba(56, 90, 100, 0.8); 
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.phone-icon {
    margin-right: 20px; 
}

.phone-icon i {
    font-size: 1.2em; 
}
.phone-number {
    text-decoration: none; /* Enlevez le soulignement par défaut */
    color: #333; /* Couleur du texte du numéro de téléphone */
    font-weight: bold;
    margin-left: 5px; /* Ajustez la marge à gauche si nécessaire */
}

.navbar .links ul{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.navbar .links ul  li{
    position: relative;
    margin: 0 20px;

}


.navbar .toggle_btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    color: rgba(56, 90, 100, 0.8); 
}
    
/*----------------------------------------Dropdown Tel----------------------------------------*/

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0;
    width: 300px;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;

    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 20%;

}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu.open a{
    text-decoration: none;
    color: aliceblue;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


/*----------------------------------------Responsive----------------------------------------*/

@media(max-width: 992px) {

    .navbar .links,
    .navbar .action_btn .navbar-back {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .navbar{
        position: relative;
        transition: 0s;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .navbar{
        position: relative;
        transition: 0s;
    }
}