h2 {
    font-size: 200%;
}

h3 {
    margin-bottom: 5%;
    font-size: 200%;
    color: aliceblue;
}

p{
    font-size: 120%;
}



.entet-vitrine{
    width: 100%;
    height: 100%;
    margin-top: 3%;
}

.titre{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 160%;
    margin-bottom: 3%;
    color: rgba(1, 126, 255, 0.800);

}

.texte{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    width: 70%;
    font-size: 140%;
}

.trait{
    content: "";
    display: block;
    align-items: center;
    width: 30%;
    margin-left: 35%;
    height: 4px;
    margin-top: 4%;
    background-color: rgba(1, 126, 255, 0.800);
    margin-bottom: 4%;      
    }





    /*----------------------------------------Liste service----------------------------------------*/   

.services{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.767);
}


.site{

   width: 68%;
   margin-left: 15%;
   margin-bottom: 2%;
   margin-top: 3%;
   display: flex;
   align-items: center;
}

.Responsive{
   width: 50%;
   display: flex;
   align-items: center;
   padding: 1%;
   background-color: rgba(1, 126, 255, 0.800);
   margin-right: 2%;
   border-radius: 20px;
}

.Controle{
   width: 50%;
   display: flex;
   align-items: center;
   padding: 1%;
   background-color: rgba(1, 126, 255, 0.800);
   border-radius: 20px;
}


.site-2{
   width: 68%;
   margin-left: 15%;
   display: flex;
   align-items: center;
   padding-bottom: 50px;
}

.Suivi{
   width: 50%;
   display: flex;
   align-items: center;
   padding: 1%;  
   background-color: rgba(1, 126, 255, 0.800);
   margin-right: 2%;
   border-radius: 20px;
   
}

.Design{
   width: 50%;
   display: flex;
   align-items: center;
   padding: 1%; 
   background-color: rgba(1, 126, 255, 0.800);
   border-radius: 20px;
}

.img-vitrine{
    width: 80%;
    margin-left: 10%;
}

.img-site{
    width: 80%;
    margin-left: 10%;
    margin-top: -5%;
}

.gauche-list h3{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gauche-list p{
    width: 80%;
    margin-left: 10%;
}





@media(min-width: 995px) and (max-width: 1320px)  {



    .texte{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10%;
        width: 85%;
        font-size: 140%;
    }
    

    /*----------------------------------------Liste service----------------------------------------*/   




}


@media(min-width: 577px) and (max-width: 995px)  {


    .texte{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        width: 90%;
        font-size: 140%;
    }

    /*----------------------------------------Liste service----------------------------------------*/   




}



@media(min-width: 351px) and (max-width: 576px)  {

    .texte{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        width: 95%;
        font-size: 140%;
    }


    /*----------------------------------------Liste service----------------------------------------*/   



}



@media(min-width: 1px) and (max-width: 350px)  {




    /*----------------------------------------Liste service----------------------------------------*/   




}