.contact-form{
  background-color: rgb(56, 90, 100);
}

.assemblage-contact{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.nous-contacter{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 50px;
color: #ffffff
}

.nous-contacter h1 {
  margin-top: 50px;
  font-size: 170%;
}


.img_contact{
  padding-left: 12%;
  width: 60%;
  display: flex;

}

form {
  padding-left: 4%;
  width: 60%;
  }


  /* position message */
 .groupe {
    position: relative; 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .deuxlab{
    display: flex;
    align-items: center;
  }
  .deuxlab .Prenom{
    width: 34%;
    display: flex;
    justify-content: left;
  }
  .deuxlab .Prenom input{
    width: 97%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 10px 30px;
    border-radius: 10px;
    outline: none;
    resize: none;
    border: none;
    padding: 10px;
  }

  .deuxlab .Nom{
    width: 34%;
    display: flex;
    justify-content: right;
  }

  .deuxlab .Nom input{
    width: 97%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 10px 30px;
    border-radius: 10px;
    outline: none;
    resize: none;
    border: none;
    padding: 10px;
  }

  /* intérieur colonne */
  .gauche  input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    resize: none;
    border: none;
    padding: 10px;
  }



/* Message */
.droite  textarea {
    width: 68%;
    margin-top: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    outline: none;
    border: none;
    border-radius: 10px;
    resize: none;
    padding-bottom: 200px;
  }

  /* bouton */
 .pied-formulaire button {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 15px;
    padding: 10px 12%;
    border-color: #f1f1f1;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: color 0.6s;
  }

  .contact_button:hover {
    color: rgb(59, 223, 127);
    transition: color 0.8;
}

/*----------------------------------------Responsive----------------------------------------*/

@media(min-width: 1px) and (max-width: 350px) {

  .assemblage-contact { 
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
  
  .img_contact{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
    margin-bottom: 50px;
    }
  
    .contact-form{
      width: 100%;
    }
    
    .nous-contacter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    }
    
    form {
      margin-right: 20px;
      width: 95%;
      }
      
      .deuxlab{
        flex-direction: column;
      }
    
      .deuxlab .Prenom{
        width: 100%;
      }

      .deuxlab .Prenom input{
        width: 100%;
        padding: 10px;
      }
    
      .deuxlab .Nom{
        width: 100%;
        margin-top: 20px;
      }

      .deuxlab .Nom input{
        width: 100%;
        padding: 10px;
      }
    
      /* intérieur colonne */
      .gauche  input {
        width: 100%;
      }
    
    /* Message */
    .droite  textarea {
        width: 100%;
      }
  }



@media(min-width: 351px) and (max-width: 576px) {


  .assemblage-contact { 
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
  
  .img_contact{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
    margin-bottom: 50px;
    }
  
    .contact-form{
      width: 100%;
    }
    
    .nous-contacter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    }
    
    form {
      margin-right: 20px;
      width: 90%;
      }
      
      .deuxlab{
        flex-direction: column;
      }
    
      .deuxlab .Prenom{
        width: 100%;
      }

      .deuxlab .Prenom input{
        width: 100%;
        padding: 10px;
      }
    
      .deuxlab .Nom{
        width: 100%;
        margin-top: 20px;
      }

      .deuxlab .Nom input{
        width: 100%;
        padding: 10px;
      }
    
      /* intérieur colonne */
      .gauche  input {
        width: 100%;
      }
    
    /* Message */
    .droite  textarea {
        width: 100%;
      }
  
  }



@media(min-width: 577px) and (max-width: 994px) {


  .assemblage-contact { 
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.img_contact{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0%;
  margin-bottom: 50px;
  }

  .contact-form{
    width: 100%;
  }
  
  .nous-contacter{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  }
  
  form {
    margin-right: 20px;
    width: 80%;
    }
    
  
    .deuxlab .Prenom{
      width: 65%;
    }
  
    .deuxlab .Nom{
      width: 65%;
    }
  
    /* intérieur colonne */
    .gauche  input {
      width: 100%;
    }
  
  /* Message */
  .droite  textarea {
      width: 100%;
    }


}


@media(min-width: 995px) and (max-width: 1600px)  {
  
  .img_contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0%;
    width: 100%;
}

.assemblage-contact{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form{
  width: 100%;
}

.nous-contacter{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 50px;
}

form {
  width: 100%;
  }
  

  .deuxlab .Prenom{
    width: 45%;
  }

  .deuxlab .Nom{
    width: 45%;
  }

  /* intérieur colonne */
  .gauche  input {
    width: 90%;
  }

/* Message */
.droite  textarea {
    width: 90%;
  }

}